:root {
  --white: #fff;
  --purple-500: #aa5cdb;
  --neutral-700: #49475f;
  --neutral-900: #090b1a;
  --blue-900: #1b1938;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: var(--neutral-900);
  font-family: 'DM Sans', sans-serif;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 30px;
}

.card {
  background: var(--blue-900);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-img {
  border-radius: 0 10px 10px 0;
  background: linear-gradient(
      0deg,
      hsla(277, 100%, 30%, 0.5) 0%,
      hsla(277, 100%, 30%, 0.5) 100%
    ),
    url(assets/image-header-desktop.jpg) center no-repeat;
}

.apresentation {
  padding: 60px;
}

.apresentation h1 {
  color: var(--white);
  font-size: 32px;
  animation: fadeIn 5s;
}

.highlighted {
  color: var(--purple-500);
  font-size: 32px;
}

.apresentation h4 {
  color: var(--neutral-700);
  font-size: 16px;
  font-weight: 500;
  margin: 30px 0;
  animation: fadeIn 5s;
}

.information {
  display: flex;
  align-items: center;
  animation: fadeIn 5s ease-in-out;
}

.information-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.information-item:not(.information-item:first-child) {
  margin-left: 30px;
}

.information-item strong {
  color: var(--white);
  font-size: 24px;
}

.information-item span {
  color: var(--neutral-700);
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .card-img {
    display: none;
  }

  .apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .apresentation h1,
  .apresentation h4 {
    text-align: center;
  }

  .information {
    flex-direction: column;
  }

  .information-item {
    align-items: center;
  }

  .information-item:not(.information-item:first-child) {
    margin-left: 0;
    margin-top: 30px;
  }
}
